{% extends 'base.html.twig' %}

{% block title %}Article-Blog{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="d-flex justify-content-center">
        {% if app.user %}
            <a class="btn btn-danger mx-auto my-3" href="{{ path('logout') }}">logout</a>
        {% else %}
            <a class="btn btn-primary mx-auto my-3" href="{{ path('login') }}">login</a>
        {% endif %}
    </div>

    <div class="d-flex m-3 p-3 flex-column w-75 mx-auto card">
        <h1 class="text-center my-2"> All articles </h1>

        {% if articles == null %}
            <p>-------------</p>
            <p>Il n'y a pas d'articles pour l'instant.</p>
        {% else %}
            {% for article in articles %}
                <div class="ml-4 d-flex flex-column">
                    <hr class="w-75 mx-auto mt-3 mb-4">
                    <h2>{{ article.title }} by <i>{{ article.user.username }}</i></h2>
                    <p>- {{ article.content }}</p>

                    {% if app.user %}
                        <a class="btn btn-danger ml-auto" href="{{ path('article_delete', { 'article': article.id }) }}">delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}


    </div>

    {% if app.user %}
        <div class="d-flex m-3 p-3 flex-column w-75 mx-auto card">

            {{ form_start(form, {'action': path("article_create"), 'method':'POST'}) }}

                {{ form_errors(form, {attr: {class:"btn btn-primary"}}) }}

                <div class="d-flex flex-column">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>


                <div class="d-flex flex-column">
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                </div>

                <div class="d-flex flex-column my-3 mx-auto w-25">
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save, {attr: {class:"btn btn-primary"}}) }}
                </div>

            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
